@charset "utf-8";

// variables
// path
$imgPath: '@/assets/images/';

// font
$font-face: 'PR', sans-serif;
$font-size: 20px;

// color
$color: #fff;
$bgcolor: #102335;

$primary: #03dac6;
$purple-a: #bb86fc;
$purple-b: #6200ee;

// size
$max: 1440px;
$header: 84px;
